<h1>Problems</h1>

<div class="problemdiv">
	<%= @new_problem[0] %><br>
	<%= @new_problem[2] %>
	<%= @new_problem[1] %>
	<div id="equalbar"></div>
	<%=  %>
	<%= @new_problem[0].send(@new_problem[2], @new_problem[1]) %>
</div>