<!DOCTYPE html>
<html>
<head>
  <title>MathDoc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
  </ul>

  <ul class="navbar-right">
    <% if user_signed_in? %>  
      <li><%= link_to 'Profile', edit_user_registration_path %></li>
      <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      </li>

    <% else %>

      <li><%= link_to 'Log In', new_user_session_path %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>

    <% end %>
  </ul>
</div>
          
<div class="all-content">

<div>
  <% flash.each do |key, value| %>
    <div>
      <%= value %>
    </div>
  <% end %>
</div>

<%= yield :top_content %>

<div>
    <h1><%= yield :header %></h1>
  <%= yield %>
</div>

</div>

</body>
</html>
